{% extends "state/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title%} About {%endblock %}
{% block body_block %}
<div class="container">
<article class="w3-container">
  <h2>Hi there !</h2>
  <p>First of all, thank you for taking the time to visit our website.
  My name is Isaac Tetteh. My aim is to solving problem and making things easier with the technology that we have.
   I am currently working on becoming a Data Scienctist/Machine Learner and some web application developement .</p>
</article>
<hr>

<article class="w3-container">
  <h2>About this website</h2>
  <p> This website was created with the purpose of creating a community were students can create an
  account and sell a product (new or used) and buy. It also allows the owner (account holder) to delete the
  product when its no more avaliable. We believe in unity and simplicity. Thats why we created this
  cross device website to make it easy to sell and buy.</p>
</article>

<p style="margin-bottom:200px;"></p>
<hr>

</div>
{%endblock%}
