{% extends 'state/base.html' %}
{% load staticfiles %}
{% block title %} {{Category.name}} {%endblock %}

{% block body_block %}
<div >
	{% if category %}
		<h2>{{category_name}}</h2>
			{% if products %}
			<div class="w3-row">

				{% for product in products %}
			<form method = "POST" action="/state/product_detail_view/{{product.code}}/">
				{% csrf_token %}
				<div class="col-md-3">
					<button type="submit" class="btn btn-default"><h3>{{ product.title|truncatechars:27}}</h3><hr/>
						{% if product.coverImage %}
							<img class='crop' src='{{ product.coverImage.url }}' />
						{%else%}
				       		<img class='crop' src="{%static 'images/iphone.jpeg' %}" />
						{%endif%}
						<p></p><p><strong>Price $ {{product.product_price}}</strong></p>
						<p>{{product.description|truncatechars:31}}</p>
					 </button>
				</div>
			</form>
				  {%endfor%}
			</div>


			{% else %}
				<p><strong>No products currently in category.</strong></p>

				{% if not user.is_authenticated %}
					<br/>To add new product <a href="{% url 'auth_login' %}"><button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge">Login</button></a>
					<br/><br/>No Account ?     <a href="{% url 'registration_register' %}"><button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge">Register</button></a>
				{%else%}
				    <p style="margin-bottom:100px"></p>
					<a href="/state/category/{{category.slug}}/{{user.pk}}/add_product/"><button class="w3-btn w3-white w3-border w3-border-red w3-round-xlarge">Add a New Product</button></a>
				{%endif%}

			{%endif%}

	{% else %}
			The specific category {{category_name}} does no exist!
	{% endif %}
		<br/>
</div>
{% endblock %}
